@model ReFreshAir1.Models.LocationDetail

@{
    ViewBag.Title = "LocationDetails";
}
@*@{
        var materials = (List<Earth.Models.Material>)ViewData["materials"]; // Cast the list
    }

    <h2>LocationDetails</h2>
    @Html.Raw(ViewBag.info)

    <h1>Trying harddddddddddddddddd</h1>

    @foreach (var temp in materials)
    {
        @temp.description 
    }
*@

<br/>
<br />
<table with =" 80%"id="materials" class="table table-hover">
    <tr class="table-bordered">
        <th width="10%">DESCRIPTION</th>
        <td width="40%">@Model.Description</td>
    </tr>
    <tr>
        <th>ADDRESS</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>CITY</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th>PROVINCE</th>
        <td>@Model.Province</td>
    </tr>
    <tr>
        <th>PHONE</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>HOURS</th>
        <td>@Model.Hours</td>
    </tr>
    <tr>
        <th>INFO</th>
        <td>@Model.Notes</td>
    </tr>
</table>
