
@model ReFreshAir1.Models.PollutionResult

@{
    ViewBag.Title = "GetPollution";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<font size=" 5">
    <font color=" green">
        Air Quality Index (AQI)
    </font>
</font>
<br />
<br />
<h4 style="color:blue">
    @if (Model.Aqius >= 0 && Model.Aqius <= 50)
    {
        @:AQI for Entered City is in GOOD Range at @Model.Aqius
    }
    else if (Model.Aqius >= 51 && Model.Aqius <= 100)
    {
        @:AQI for Entered City is in Moderate at @Model.Aqius
    }
    else if (Model.Aqius >= 101 && Model.Aqius <= 150)
    {
        @:AQI for Entered City is in Unhealthy for Sensitive Groups Range at @Model.Aqius
    }
    else if (Model.Aqius >= 151 && Model.Aqius <= 200)
    {
        @:AQI for Entered City is in Unhealthy Range at @Model.Aqius
    }
    else if (Model.Aqius >= 201 && Model.Aqius <= 300)
    {
        @:AQI for Entered City is in Very Unhealthy Range at @Model.Aqius
    }
    else if (Model.Aqius >= 301)
    {
        @:AQI for Entered City is in Hazardous Range at @Model.Aqius
    }
</h4>
<br />
<img src="~/img/AQI-Scale.JPG" />
<h6>Courtesy: Center for Disease Control and Prevention</h6>
